@use '../../_globals.scss';

$module-height: 535px;
.stats {
  .ui.card {
    width: 100%;
    text-align: left;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: solid 3px globals.$dark-gray;
    border-radius: 7px;
    box-shadow: none;

    & > .content {
      padding: 0.75rem;

      & > span {
        vertical-align: middle;
        & > .button-more {
          float: right;
          background-color: transparent;
          border: solid 2px globals.$dark-teal;
          border-radius: 12px;
          width: 2.5em;
          height: 2.5rem;
          padding: 0.5rem;
          &:hover {
            background-color: lighten(globals.$light-gray, 45%);
          }
          &:active {
            background-color: lighten(globals.$light-gray, 25%);
          }
          & > i {
            color: globals.$dark-teal;
            transform: scale(1.25);
          }
        }
      }
    }
  }
}
