@use '../../_globals.scss';

$dropdown-height: 30px;
$padding: 0.25rem;
$body-default-text: black;

@mixin text-styling($size) {
  font: {
    size: $size;
    family: globals.$body-font;
    weight: normal;
  }
  color: $body-default-text !important;
}

.application-card-full {
  width: 100%;
}
.application-card-half {
  width: 49%;
}
.height-half {
  height: 94%;
}
.height-full {
  height: 94%;
}
.height-less-full {
  height: 180px;
}
.height-more {
  height: 285px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.application-card-full,
.application-card-half {
  position: relative;
  display: inline-block;

  .header_container {
    position: relative;
    width: 150px;
    height: 35px;
    left: 10px;
    background-color: #2a6f97;
    border-radius: 6px 6px 0px 0px;
    padding: $padding * 2 !important;
  }

  .header_text {
    h6 {
      @include text-styling(18px);
      color: white !important;
      font-weight: bold;
    }
  }

  .description_container {
    width: 100%;
    height: calc(100% - 35px);
    position: relative;
    box-shadow: 4px 7px 4px transparentize(globals.$dark-sat-blue, 0.6) !important;
    border: solid 1px globals.$desat-accent !important;
    background-color: #ffffff;
    border-radius: 12px;
    padding: $padding * 5 !important;
    overflow: auto;

    &::-webkit-scrollbar-track {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .descript_text {
    @include text-styling(14px);
    color: rgb(0, 0, 0) !important;
  }
}
