@use '../../_globals.scss';

.sidebar {
    width: 132px !important;
    position: fixed !important;
    height: 100%;
    background-color: globals.$dark-gray;
    margin: 0;
    float: left;
    overflow: hidden;

    .trashcan {
        float: bottom;
        background: none !important;
        margin: 0 !important;
    }
    .ui.button {
        background: none;
        &:hover {
            transform: scale(1.2);
        }
        position: absolute;
        bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }
    .align-bottom {
        position:relative;
        height: 100%;
        width: auto;
    }
}