/*Include me in your file with:
@use 'PATH/_globals.scss';
Access my properties with globals.{thing}
*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Allerta&display=swap'); 

/*Color Palette*/
$light-desat-blue: #B2CFE6;
$light-sat-blue: #89C2D9;
$dark-sat-blue: #013A63;
$dark-teal: #2A6F97;
$light-teal:#61A5C2;
$primary-red: #E10000;
$primary-green: #0EB000;
$primary-blue:#2A59FF;
$desat-accent: #949494;
$dark-gray: #343A40;
$white: white;

/*Font Assignments*/
$body-font: 'Montserrat', sans-serif;
$accent-font: 'Allerta', sans-serif;

/*Media Queries
call like @include media(tablet) {//styles here}
wraps your style with a media query
*/
@mixin media($breakpoint) {
    @if ($breakpoint==mobile) {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
    @else if ($breakpoint==tablet) {
        @media only screen and (min-width: 481px) and (max-width: 768px) {
            @content;
        }
    }
}
