@use '../../_globals.scss';

$module-height: 535px;
.upcoming-events {
    .ui.segments {
        display: flex;
        flex-flow: column;
        height: $module-height;
        width: 484px;
        box-sizing: border-box;

        &>.ui.segment.agenda-header {
            height: $module-height * .1;
            flex: {
                grow: 0;
                shrink: 0;
                basis: auto;
            }
            background-color: globals.$dark-teal;
            &>* {
                color: globals.$white;
            }
        }
        &>.agenda-list{
            border: {
                top: 0rem;
                bottom: 0rem;
                left: 0rem;
                right: 1rem;
                style: solid;
                color: transparent;
            }
            padding: {
                top: 1rem;
                bottom: 1rem;
                left: 1rem;
                right: 1rem;
            }
    
            flex: {
                grow: 0;
                shrink: 1;
                basis: auto;
            }
            overflow: auto;
            // box-shadow: none;
            // border: none;

            &::-webkit-scrollbar-track {
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: .2rem;
            }
        }
    }
    .ui.cards {
        margin: auto;
        display: block;

        .ui.card {
            width: 100%;
            text-align: left;
        }
    }
}