@use '../../_globals.scss';

%box-styling {
  border: {
    style: solid;
    radius: 12px;
    width: 1px;
    color: globals.$desat-accent;
  }
  background-color: white;
  height: 100%;
  box-shadow: 4px 7px 4px transparentize(globals.$dark-sat-blue, 0.6);
}
@mixin text-styling($size) {
  font: {
    size: $size !important;
    family: globals.$body-font;
    weight: normal !important;
  }
  color: $body-default-text !important;
}
@mixin header-styling($size) {
  font: {
    size: $size !important;
    family: globals.$body-font;
    weight: bold !important;
  }
  color: globals.$dark-gray;
}

@mixin button-styling($size) {
  font: {
    size: $size !important;
    family: globals.$body-font;
    weight: bold !important;
  }
  color: globals.$white;
}

$dropdown-height: 75px;
$body-default-text: black;
$padding: 1rem;

.application-container {
  
  .ui.form input {
    min-width: 385px;
    box-shadow: 4px 7px 4px transparentize(globals.$dark-sat-blue, 0.6) !important;
    border: solid 1px globals.$desat-accent !important;
    border-radius: 12px !important;
    padding: 1em 1em !important;
    @include text-styling(16px);
  }
  
  .ui.form .field > label {
    @include header-styling(20px);
  }
  
  .ui.form textarea {
    border: transparent !important;
    padding: 0em !important;
    resize: none !important;
    @include text-styling(16px);
  }
  
  #todolist {
    width: 100%;
  }
  
  #bulletlist {
    width: 100%;
  }
  
  .iu.button {
    @include button-styling(40px);
    padding: 1em 1.5em 1em !important;
  }
  
  .submit {
    height: 50px;
    width: 70px;
    font-size: 50px;
    position: absolute;
    top: 35px;
    left: 0;
    margin-left: 6px;
    z-index:500;
  }
  
  .faux-sidebar {
    width: 132px;
    height: 300px;
    background-color: globals.$dark-gray;
    margin: 0;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
  }
}
