@use '../../_globals.scss'; //include partials in files for modularity!

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    &:hover { //readable pseudo-classes!
        height: 43vmin;
    }

}

.App-header {
    background-color: globals.$light-desat-blue; //access global variables!
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    @include globals.media(mobile) { //easily include media queries!
        background-color: globals.$dark-gray;
    }
    p { //nest styles for readability!
        font: { 
            size: calc(10px + 2vmin);
            family: globals.$body-font;
        }
    }
}

.App-link {
    color: #09d3ac;
}
